{
	pubKey = "MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCbX8O7jy5PUwXR5VfsiinxpU8T\nd4q7dCEan75oQeHOkohU3Ci0cqWzRhsV/KBvjR3VMXBblJYkaLjYW/vZwLwWZrua\nrOpv1fE3r8iLpGERbbuAsRPRYY0f+sEioMGhWvXsUuCZR66zAaib7ZOX8UNzLCl4\neyFEq2CFch2olu2G/wIDAQAB";
	buglyId = 2eac0113d9;
	uMengKey = 5d1b0569570df304e20002e0;
}